@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CUSTOMERS</h2>

<table class="table table-hover">
    
    <thead>
        <tr>
            <th scope="col">Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr> 
            <td>
                @Html.ActionLink(customer.Name, "Details",new {id= customer.Id })
            </td>
         
        </tr>
        }
    </tbody>
</table>
